
.login {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 10px;
  height: 45px;
  width: 50px;
  /* background-color: red; */
  background-color: beige;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.2);

}

.sinup {
  align-content: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  margin-left: 5px;
  border-radius: 10px;
  height: 45px;
  width: 50%;
  background-color: beige;
  background-color: rgba(255, 255, 255, 0.2);
}

.sinup:hover {
  border: 2px solid black;
  transition: all 2s;
  background-color: rgb(94, 169, 219);
  color: black;
}

.login:hover {
  color: black;
  transition: all 2s;
  border: 2px solid black;
  background-color: rgb(94, 169, 219);
}