.Header {
  height: 120px;
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.navigation {
  border-radius: 40px;
  height: 100px;
  width: 50%;
  color: rgb(255, 250, 250);
  /* background-color: red; */

}

.Header:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(0, 0, 0);
  transition: all 2s;

}

ol,
ul,
li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 25px;
}

a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.login {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 10px;
  height: 45px;
  width: 50%;
  background-color: beige;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.2);

}
/*
.sinup {
  align-content: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  margin-left: 5px;
  border-radius: 10px;
  height: 45px;
  width: 50%;
  background-color: beige;
  background-color: rgba(255, 255, 255, 0.2);
}

.sinup:hover {
  border: 2px solid black;
  transition: all 2s;
  background-color: rgb(94, 169, 219);
  color: black;
}

.login:hover {
  color: black;
  transition: all 2s;
  border: 2px solid black;
  background-color: rgb(94, 169, 219);
} */

.frontimage {
  height: 600px;
  width: 100%;
  /* margin: auto; */
  background-color: black;
  /* background-image: url(p.jpg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
