/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  margin: 0%;
  padding: 0%;
  /* background-color: ; */
}

.Header {
  height: 120px;
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.navigation {
  border-radius: 40px;
  height: 100px;
  width: 50%;
  color: rgb(255, 250, 250);
  /* background-color: red; */

}

.Header:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(0, 0, 0);
  transition: all 2s;

}

ol,
ul,
li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 25px;
}

a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.loginform {
  display: flex;
  border-radius: 30px;
  /* margin-top: 30px; */
  height: 60px;
  width: 20%;
  /* background-color: white; */
  margin-right: 50px;
}

.login {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 10px;
  height: 45px;
  width: 50%;
  background-color: beige;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.2);

}

.sinup {
  align-content: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  margin-left: 5px;
  border-radius: 10px;
  height: 45px;
  width: 50%;
  background-color: beige;
  background-color: rgba(255, 255, 255, 0.2);
}

.sinup:hover {
  border: 2px solid black;
  transition: all 2s;
  background-color: rgb(94, 169, 219);
  color: black;
}

.login:hover {
  color: black;
  transition: all 2s;
  border: 2px solid black;
  background-color: rgb(94, 169, 219);
}

.frontimage {
  height: 600px;
  width: 100%;
  /* margin: auto; */
  background-color: black;
  background-image: url(p.jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.App{
  height: 1500px;
  width: 95%;
  margin: auto;
}

/* AboutUs Section */
h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 45px;
}
.transparent{
  position: absolute;
  left: 450px;
  /* top: 100px; */
  margin: auto;
  font-size: 90px;
  height: 200px;
  width: 200px;
  /* background-color: red; */
}



/* Arrivals */

.heading {
  margin-top: 10%;
  text-align: center;
  font-size: 40px;
}
.blog {
  display: flex;
  margin: auto;
  justify-content: space-around;
  height: auto;
  margin-top: 100px;
 
    width: 100%;
    /* background-color: black; */
  }
  
  .blog1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 350px;
    width: 320px;
    display: flex;
    /* background-color: red; */
    font-size: 20px;
    text-align: center;
    flex-direction: column;
  
  }
  
  .blog1Image {
  
    height: 350px;
    width: 320px;
    background-image: url(images.jpg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .blog1Text {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    /* background-color: red; */
  }
  
  .blog2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 350px;
    width: 320px;
    /* background-color: red; */
  
    /* background-color: rgb(255, 255, 255); */
    /* margin-left: 70px; */
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
  
  }
  
  .blog2Image {
    height: 300px;
    width: 320px;
    background-image: url(./blog2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .blog2Text {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    /* background-color: red; */
  }
  
  .blog3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 350px;
    width: 320px;
    /* background-color: red; */
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
  }
  
  .blog3Image {
    height: 300px;
    width: 320px;
    background-image: url(blog\ 31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
  }
  
  .blog3Text {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    /* background-color: red; */
  }
  

  .homepara {
    margin-top: 5%;
    text-align: center;
    font-size: 25px;
    /* background-color: red; */
  }
  
/*     
  
  .content {
    height: 400px;
    width: 100%;
    background-color: black;
    display: flex;
  }
  
  .c1 {
    margin-top: 50px;
    height: 300px;
    width: 50%;
    background-color: white;
  }
  
  .c2 {
    margin-top: 50px;
    height: 300px;
    width: 50%;
    background-color: white;
  } */
